<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="1800" packages="com.newrelic.logging.log4j2" status="trace">
    <Appenders>
        <File name="PSJ" fileName="logs/psj-runtime.log">
            <NewRelicLayout/>
        </File>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="PSJ"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
